*.class
*.jar
*.dll
/tools/*.exe

CommonAssemblyInfo.cs
awt/AssemblyInfo.cs
bin/*.exe
jvm/jvm_h.il
native/Release-*/
openjdk/AssemblyInfo.java
openjdk/allsources.gen.lst
openjdk/java/lang/PropertyConstants.java
openjdk/resources.zip
openjdk/response.gen.txt
openjdk/tools.gen.rsp
openjdk/vfs.zip
runtime/AssemblyInfo.cs
runtime/JniAssemblyInfo.cs
